<div class="row">
  <div class="col ">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mensaje">
            <small id="emailHelp" class="form-text text-muted">titulo de la comunicacion</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Plantilla de mensaje</label>
            <select class="form-control form-control-sm">
              <option>Selecciona</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Listado Alumnos
        <a href="#" class="btn btn-primary float-right" >AGREGAR</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>