<app-navbar></app-navbar>
<div class="wrapper">
        <app-sidebar></app-sidebar>
        <div id="content">
                <div class="container-fluid">
                        <div class="row p-2">
                                        <i class="fas fa-bars fa-2x mt-2"></i>
                                <div class="col">
                                        <h1>NUEVA COMUNICACION</h1>
                                        <hr>
                                </div>
                        </div>
                        <router-outlet></router-outlet>
                </div>
        </div>
</div>