 <nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
    <div class="sidebar-content">
      <perfect-scrollbar>
        <div class="sidebar-profile">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Don George
              <strong>Smith</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div>
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
              <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
              <a *ngIf="menu.type !== 'header'"  (click)='toggle(menu)'>
                <i class="{{menu.icon}}"></i>
                <span>{{menu.title}}</span>
               <!-- <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span> -->
              </a>
              <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
                <ul>
                  <li *ngFor="let submenu of menu.submenus">
                    <a [routerLink]="submenu.path"> {{submenu.title}}
                      <!-- <span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span> -->
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </perfect-scrollbar>
    </div>
  </nav>