<div class="row mt-5"> 
  <div class="col">
          <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">1</th>
                      <th scope="col">2</th>
                      <th scope="col">3</th>
                    </tr>
                  </thead>
                  <tbody *ngFor='let mensaje of mensajes | async'>
                    <tr>
                      <app-post [mensaje]="mensaje" (clickPost)="escuchaEvento($event)"></app-post>
                    </tr>
                  </tbody>
                </table>
  </div>
</div>